ExChangeMoneyPaginaPrincipal/src/conf/xml-resources/web-service-references/UsuarioWebService/wsdl/localhost_8080/UsuarioWebService/UsuarioWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="ActualizarUsuario" type="tns:ActualizarUsuario"/>

<xs:element name="ActualizarUsuarioResponse" type="tns:ActualizarUsuarioResponse"/>

<xs:element name="EliminarUsuario" type="tns:EliminarUsuario"/>

<xs:element name="EliminarUsuarioResponse" type="tns:EliminarUsuarioResponse"/>

<xs:element name="IniciarSesion" type="tns:IniciarSesion"/>

<xs:element name="IniciarSesionResponse" type="tns:IniciarSesionResponse"/>

<xs:element name="InsertarUsuario" type="tns:InsertarUsuario"/>

<xs:element name="InsertarUsuarioResponse" type="tns:InsertarUsuarioResponse"/>

<xs:complexType name="EliminarUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>