ExChangeMoneyPaginaPrincipal/src/conf/xml-resources/web-service-references/UsuarioWebService/wsdl/localhost_8080/UsuarioWebService/UsuarioWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="UsuarioWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/UsuarioWebService/UsuarioWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario"/>
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse"/>
</message>
<message name="InsertarUsuario">
<part name="parameters" element="tns:InsertarUsuario"/>
</message>
<message name="InsertarUsuarioResponse">
<part name="parameters" element="tns:InsertarUsuarioResponse"/>
</message>
<message name="ActualizarUsuario">
<part name="parameters" element="tns:ActualizarUsuario"/>
</message>
<message name="ActualizarUsuarioResponse">
<part name="parameters" element="tns:ActualizarUsuarioResponse"/>
</message>
<message name="IniciarSesion">
<part name="parameters" element="tns:IniciarSesion"/>
</message>
<message name="IniciarSesionResponse">
<part name="parameters" element="tns:IniciarSesionResponse"/>
</message>
<portType name="UsuarioWebService">
<operation name="EliminarUsuario">
<input wsam:Action="http://Servicio/UsuarioWebService/EliminarUsuarioRequest" message="tns:EliminarUsuario"/>
<output wsam:Action="http://Servicio/UsuarioWebService/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse"/>
</operation>
<operation name="InsertarUsuario">
<input wsam:Action="http://Servicio/UsuarioWebService/InsertarUsuarioRequest" message="tns:InsertarUsuario"/>
<output wsam:Action="http://Servicio/UsuarioWebService/InsertarUsuarioResponse" message="tns:InsertarUsuarioResponse"/>
</operation>
<operation name="ActualizarUsuario">
<input wsam:Action="http://Servicio/UsuarioWebService/ActualizarUsuarioRequest" message="tns:ActualizarUsuario"/>
<output wsam:Action="http://Servicio/UsuarioWebService/ActualizarUsuarioResponse" message="tns:ActualizarUsuarioResponse"/>
</operation>
<operation name="IniciarSesion">
<input wsam:Action="http://Servicio/UsuarioWebService/IniciarSesionRequest" message="tns:IniciarSesion"/>
<output wsam:Action="http://Servicio/UsuarioWebService/IniciarSesionResponse" message="tns:IniciarSesionResponse"/>
</operation>
</portType>
<binding name="UsuarioWebServicePortBinding" type="tns:UsuarioWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="EliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioWebService">
<port name="UsuarioWebServicePort" binding="tns:UsuarioWebServicePortBinding">
<soap:address location="http://localhost:8080/UsuarioWebService/UsuarioWebService"/>
</port>
</service>
</definitions>