ExChangeMoney_Cliente/web/WEB-INF/wsdl/localhost_8080/AdministradorExChange/AdministradorExChange.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="ActualizarConversion" type="tns:ActualizarConversion"/>

<xs:element name="ActualizarConversionResponse" type="tns:ActualizarConversionResponse"/>

<xs:element name="EliminarConversion" type="tns:EliminarConversion"/>

<xs:element name="EliminarConversionResponse" type="tns:EliminarConversionResponse"/>

<xs:element name="InsercionConversion" type="tns:InsercionConversion"/>

<xs:element name="InsercionConversionResponse" type="tns:InsercionConversionResponse"/>

<xs:element name="MostrarConversion" type="tns:MostrarConversion"/>

<xs:element name="MostrarConversionResponse" type="tns:MostrarConversionResponse"/>

<xs:complexType name="MostrarConversion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MostrarConversionResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarConversion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarConversionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsercionConversion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsercionConversionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarConversion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarConversionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>