ExChangeMoney_Cliente/web/WEB-INF/wsdl/localhost_8080/ClienteExchange/ClienteExchange.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="CalculoConversion" type="tns:CalculoConversion"/>

<xs:element name="CalculoConversionResponse" type="tns:CalculoConversionResponse"/>

<xs:element name="Monedas" type="tns:Monedas"/>

<xs:element name="MonedasResponse" type="tns:MonedasResponse"/>

<xs:complexType name="Monedas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MonedasResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalculoConversion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalculoConversionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>